


<div id="particles-js" style="background-image: linear-gradient(-225deg, #16222A 0%, #16222A 50%), url('https://static.pexels.com/photos/36487/above-adventure-aerial-air.jpg');">
  <navbar>
  <div class="navbar-wagon">
    <!-- Logo -->

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">
      <a href="#about" class= "navbar-wagon-item navbar-wagon-link">About</a>
      <a href="#skills" class= "navbar-wagon-item navbar-wagon-link">Skills</a>
      <a href="#portfolio" class= "navbar-wagon-item navbar-wagon-link">Portfolio</a>
      <a href="#about" class= "navbar-wagon-item navbar-wagon-link">Hire Alvaro</a>
    </div>

    <!-- Dropdown appearing on mobile only -->
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <a href="#about" class= "navbar-wagon-item navbar-wagon-link">About</a>
          <a href="#skills" class= "navbar-wagon-item navbar-wagon-link">Skills</a>
          <a href="#portfolio" class= "navbar-wagon-item navbar-wagon-link">Portfolio</a>
          <a href="#about" class= "navbar-wagon-item navbar-wagon-link">Hire Alvaro</a>

        </ul>
      </div>
    </div>
  </div>
</navbar>
  <div class="banner--content ">
    <h1 id= typed></h1>
    <p>Business Graduate and Fullstack Developer</p>
  </div>
</div>

<div class="container-fluid">
  <div class="flex" id="about">
    <div id= "sticky" class="row--left col-xs-12 col-sm-3 col-md-3">
      <div class="title">
        <h1>A bit about me</h1>
      </div>
      <div class="text">
        <p>My name is Alvaro, I am a business graduate with a passion for coding and entrepreneurship. From Madrid, Spain. Lived n Ireland. Living in London.

          <hr>

          I recently graduated from one of the top Business Schools in UK and have a passion for coding. In fact, I just completed Le Wagon's full-stack program where I learnt to build amazing things. I proposed and led the final project which we then presented on Google Campus (see link in my bio). I am now looking for a job at a company where I can develop and grow.

          <hr>

          I am competitive Tennis and Football player, an avid reader and an enthusiastic traveller.</p>
      </div>
    </div>
    <div class="timeline row--right col-xs-12 col-sm-9 col-md-9">
      <ul>
        <li>
          <div>
            <time>1996</time>
            I came into this world. More concretely into Madrid, Spain.
          </div>
        </li>
        <li>
          <div>
            <time>2007</time>
            Went to Ireland for two years where a family of four friendly Dubliners welcomed me into their home. There I studied the International Middle Years Diploma.
          </div>
        </li>
        <li>
          <div>
            <time>2012</time>
             Moved to the UK, the place I now consider my home. My academic performance allowed me to course the International Baccalaureate at an American School 40 minutes South West of London.
          </div>
        </li>
        <li>
          <div>
            <time>2014</time>
            Joined Queen Mary University to study a Bachelor in the Science of Business and Management
          </div>
        </li>
        <li>
          <div>
            <time>2015</time>
            Took my first steps in the coding world with HTML and CSS.
          </div>
        </li>
        <li>
          <div>
            <time>2016</time>
            Started an Edtech business and learnt basic Swift 3.
          </div>
        </li>
        <li>
          <div>
            <time>2017</time>
            Joined Le Wagon's Fullstack program where I learnt to create amazing web applications and much more. I also graduated from Queen Mary.
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="flex" id= "skills">
    <div id= "sticky" class="row--left col-xs-12 col-sm-3 col-md-3">
      <h1 class= "title">My Skills</h1>
      <p class= "text">If you only have to remember one thing about me that thing should be that I am extremely customer oriented.</p>
      <hr>
      <p>I am also a true team player who loves solving problems and is good at making decisions.</p>
      <hr>
      <p>I am a coder and a business person. This interdisciplinary background allows me to look at problems from different perspectives</p>
    </div>
    <div class="row--right col-xs-12 col-sm-9 col-md-9">
      <div class="card--area flex">
        <div class="card--img-area">
          <img src="http://www.ibo.org/globalassets/digital-tookit/logos-and-programme-models/ib-world-school-logo-1-colour.png" alt="RoR">
          <div class="overlay">
              <h2>Ruby on Rails</h2>
              <p>
                <a href="#">See on GitHub</a>
              </p>
          </div>
        </div>
        <div class="card--text">
          <ul>
            <li><p>Understands the MVC paradigm.</p></li>
            <li><p>Uses ActiveRecord and knows about models, migrations, associations and validations.</p></li>
            <li><p>Has knowledge of Unit testing with Rspec.</p></li>
            <li><p>Very familiar with API as a concept and JSON as a format.</p></li>
            <li><p>Uses ERB.</p></li>
          </ul>
        </div>
      </div>
      <div class="card--area flex">
        <div class="card--img-area">
          <img src="http://www.walternewbury.co.uk/portals/0/logos/logo-queenmary.gif" alt="RoR">
          <div class="overlay">
              <h2>Ruby on Rails</h2>
              <p>
                <a href="#">See on GitHub</a>
              </p>
          </div>
        </div>
        <div class="card--text">
          <ul>
            <li><p>Understands the MVC paradigm.</p></li>
            <li><p>Uses ActiveRecord and knows about models, migrations, associations and validations.</p></li>
            <li><p>Has knowledge of Unit testing with Rspec.</p></li>
            <li><p>Very familiar with API as a concept and JSON as a format.</p></li>
            <li><p>Uses ERB.</p></li>
          </ul>
        </div>
      </div>
      <div class="card--area flex">
        <div class="card--img-area">
          <img src="https://d301sr5gafysq2.cloudfront.net/e17447e6d7b5/img/repo-avatars/ruby.svg" alt="RoR">
          <div class="overlay">
              <h2>Ruby on Rails</h2>
              <p>
                <a href="#">See on GitHub</a>
              </p>
          </div>
        </div>
        <div class="card--text">
          <ul>
            <li><p>Understands the MVC paradigm.</p></li>
            <li><p>Uses ActiveRecord and knows about models, migrations, associations and validations.</p></li>
            <li><p>Has knowledge of Unit testing with Rspec.</p></li>
            <li><p>Very familiar with API as a concept and JSON as a format.</p></li>
            <li><p>Uses ERB.</p></li>
          </ul>
        </div>
      </div>
      <div class="card--area flex">
        <div class="card--img-area">
          <img class="img-responsive" src="https://thenewboston.com/images/forum/logos/145efe2aab7ca9959397d6344180b658.png" alt="HTML5">
          <div class="overlay">
              <h2>Ruby on Rails</h2>
              <p>
                <a href="#">See on GitHub</a>
              </p>
          </div>
        </div>
        <div class="card--text">
          <ul>
            <li><p>Understands the MVC paradigm.</p></li>
            <li><p>Uses ActiveRecord and knows about models, migrations, associations and validations.</p></li>
            <li><p>Has knowledge of Unit testing with Rspec.</p></li>
            <li><p>Very familiar with API as a concept and JSON as a format.</p></li>
            <li><p>Uses ERB.</p></li>
          </ul>
        </div>
      </div>
      <div class="card--area flex">
        <div class="card--img-area">
          <img class="img-responsive" src="https://1071905752.rsc.cdn77.org/wp-content/uploads/2014/06/js_800x800-619x619.jpg?x48470" alt="JS">
          <div class="overlay">
              <h2>Ruby on Rails</h2>
              <p>
                <a href="#">See on GitHub</a>
              </p>
          </div>
        </div>
        <div class="card--text">
          <ul>
            <li><p>Understands the MVC paradigm.</p></li>
            <li><p>Uses ActiveRecord and knows about models, migrations, associations and validations.</p></li>
            <li><p>Has knowledge of Unit testing with Rspec.</p></li>
            <li><p>Very familiar with API as a concept and JSON as a format.</p></li>
            <li><p>Uses ERB.</p></li>
          </ul>
        </div>
      </div>
      <div class="card--area flex">
        <div class="card--img-area">
          <img class="img-responsive" src="http://www.newthinktank.com/wp-content/uploads/2015/04/CSS3-Tutorial.png" alt="RoR">
          <div class="overlay">
              <h2>Ruby on Rails</h2>
              <p>
                <a href="#">See on GitHub</a>
              </p>
          </div>
        </div>
        <div class="card--text">
          <ul>
            <li><p>Understands the MVC paradigm.</p></li>
            <li><p>Uses ActiveRecord and knows about models, migrations, associations and validations.</p></li>
            <li><p>Has knowledge of Unit testing with Rspec.</p></li>
            <li><p>Very familiar with API as a concept and JSON as a format.</p></li>
            <li><p>Uses ERB.</p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="flex" id="portfolio">

    <div id= "sticky" class="row--left col-xs-12 col-sm-3 col-md-3">
      <h1 class= "title">My Projects</h1>
      <p class= "text">Although I am young, I like to keep busy and get my hands around pretty much everything that is a challenge.</p>
      <hr>
      <p>In most of my projects I have extensively used <a href="http://www.adobe.com/uk/creativecloud.html">Creative Cloud</a> (this includes: Photoshop, Illustrator, Premiere Pro, AdobeXD) and <a href="https://www.sketchapp.com/">Sketch</a>. I can't show all my work on this website so feel free to ask me for some examples of my work!</p>
      <hr>
      <p>I am familiar with tools such as <a href="https://slack.com/">Slack</a>, <a href="https://trello.com/">Trello</a>, and other team management tools.</p>
    </div>
    <div class="row--right col-xs-12 col-sm-9 col-md-9">
      <div class="project--area">
        <div class="carousel-area">
          <div id="my-carousel" class="carousel slide" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="http://educrewapp.com/wp-content/uploads/2017/04/Sin-ti%CC%81tulo-4-01-1.png" alt="First Slide">
              </div>
              <div class="item">
                <img src="http://educrewapp.com/wp-content/uploads/2017/04/Sin-ti%CC%81tulo-4-04-1.png" alt="Second Slide">
              </div>
              <div class="item">
                <img src="http://educrewapp.com/wp-content/uploads/2017/04/Sin-ti%CC%81tulo-4-05-1.png" alt="Third Slide">
              </div>
              <div class="item">
                <img src="http://educrewapp.com/wp-content/uploads/2017/04/Sin-ti%CC%81tulo-4-03-1.png" alt="Fourth Slide">
              </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control left" href="#my-carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="carousel-control right" href="#my-carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
        <div class="description-area">
          <div class="text-area">
            <h3><a href="http://educrewapp.com/">educrewapp.com</a></h3>
            <p>I identified a growing need for specialised tutoring at University. This idea bases on the principle that students who succeded in one specific module can help other students who are struggeling in that same module. Within 2 months I had formed a team of three, developed and launched the beta of an <a href="https://play.google.com/store/apps/details?id=com.educrew.tutor.droid&hl=en">Android  Application</a> and implemented the correct marketing strategy. We recruited the best students from different modules and peaked when we provided more than 60 hours of lessons during the two weeks of Beta at Cass Business School.</p>
          </div>
          <div class="technologies">
            <p>Built with:</p>
            <div class="flex icons">
              <a href="">
                <img src="https://d301sr5gafysq2.cloudfront.net/e17447e6d7b5/img/repo-avatars/ruby.svg" alt="">
              </a>
              <a href="">
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png" alt="">
              </a>
            </div>
            <div class="flex icons">
              <a href="">
                <img src="https://thenewboston.com/images/forum/logos/145efe2aab7ca9959397d6344180b658.png" alt="">
              </a>
              <a href="">
                <img src="http://www.newthinktank.com/wp-content/uploads/2015/04/CSS3-Tutorial.png" alt="">
              </a>
            </div>
            <div class="flex icons">
              <a href="">
                <img src="https://ucarecdn.com/cc6abaa3-acab-4ce7-a0fd-a0ef563ef08c/" alt="">
              </a>
              <a href="">
                <img src="https://res.cloudinary.com/demo/image/upload/e_shadow,x_13,y_13/cloudinary_icon.png" alt="">
              </a>
            </div>
            <div class="flex icons">
              <a href="">
                <img src="https://cdn.worldvectorlogo.com/logos/twilio.svg" alt="">
              </a>
              <a href="">
                <img src="http://www.mericar.com/chat_logo.png" alt="">
              </a>
            </div>
            <div class="flex icons">
              <a href="">
                <img src="https://morpht.com/sites/morpht/files/bootstrap_solid.png" alt="">
              </a>
              <a href="">
                <img src="https://res.cloudinary.com/demo/image/upload/e_shadow,x_13,y_13/cloudinary_icon.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="project--area">
        <div class="carousel-area">
          <div id="my-carousel" class="carousel slide" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
              <div class="item active">
                <%= cl_image_tag("Screen_Shot_2017-11-22_at_12.08.59_swu3qv", :height=>1151, :width=>2048, :crop=>"scale") %>
              </div>
              <div class="item">
                <%= cl_image_tag("Screen_Shot_2017-11-22_at_12.09.33_eyqs7k", :height=>1151, :width=>2048, :crop=>"scale") %>
              </div>
              <div class="item">
                <%= cl_image_tag("Screen_Shot_2017-11-22_at_12.09.57_rf7lxa", :height=>1151, :width=>2048, :crop=>"scale") %>
              </div>
              <div class="item">
                <%= cl_image_tag("20988949_268818410276491_8764990126267841642_o_njxmqz", :height=>1151, :width=>2048, :crop=>"scale") %>
              </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control left" href="#my-carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="carousel-control right" href="#my-carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
        <div class="description-area">
          <div class="text-area">
            <h3><a href="https://artixvy-meredaul.herokuapp.com/">Artixvy</a></h3>
            <p>During the Le Wagon Programme, my team and I developed an Airbnb for paintings. Users could post a painting and buy users' paintings. The paintings had a price, a location, a title and a description.</p>
          </div>
          <div class="technologies">
            <p>Built with:</p>
            <div class="flex icons">
              <a href="">
                <img src="https://d301sr5gafysq2.cloudfront.net/e17447e6d7b5/img/repo-avatars/ruby.svg" alt="">
              </a>
              <a href="">
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png" alt="">
              </a>
            </div>
            <div class="flex icons">
              <a href="">
                <img src="https://thenewboston.com/images/forum/logos/145efe2aab7ca9959397d6344180b658.png" alt="">
              </a>
              <a href="">
                <img src="http://www.newthinktank.com/wp-content/uploads/2015/04/CSS3-Tutorial.png" alt="">
              </a>
            </div>
            <div class="flex icons">
              <a href="">
                <img src="https://ucarecdn.com/cc6abaa3-acab-4ce7-a0fd-a0ef563ef08c/" alt="">
              </a>
              <a href="">
                <img src="https://res.cloudinary.com/demo/image/upload/e_shadow,x_13,y_13/cloudinary_icon.png" alt="">
              </a>
            </div>
            <div class="flex icons">
              <a href="">
                <img src="https://cdn.worldvectorlogo.com/logos/twilio.svg" alt="">
              </a>
              <a href="">
                <img src="http://www.mericar.com/chat_logo.png" alt="">
              </a>
            </div>
            <div class="flex icons">
              <a href="">
                <img src="https://morpht.com/sites/morpht/files/bootstrap_solid.png" alt="">
              </a>
              <a href="">
                <img src="https://res.cloudinary.com/demo/image/upload/e_shadow,x_13,y_13/cloudinary_icon.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="project--area">
        <div class="carousel-area">
          <div id="my-carousel" class="carousel slide" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
              <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
              <div class="item active">
                <%= cl_image_tag("Screen_Shot_2017-11-17_at_14.46.49_wrqyv7.png", :height=>1151, :width=>2048, :crop=>"scale") %>
              </div>
              <div class="item">
                <%= cl_image_tag("Screen_Shot_2017-11-17_at_14.23.31_btbahd.png", :height=>1151, :width=>2048, :crop=>"scale") %>
              </div>
              <div class="item">
                <%= cl_image_tag("Screen_Shot_2017-11-17_at_14.24.09_y1q0ca.png", :height=>1151, :width=>2048, :crop=>"scale") %>
              </div>
              <div class="item">
                <%= cl_image_tag("EDUCREW_fhgasj.jpg", :height=>1151, :width=>2048, :crop=>"scale") %>
              </div>
              <div class="item">
                <%= cl_image_tag("21587091_277681279390204_1789647503473263890_o_cfam5l", :height=>1151, :width=>2048, :crop=>"scale") %>
              </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control left" href="#my-carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="carousel-control right" href="#my-carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
        <div class="description-area">
          <div class="text-area">
            <h3><a href="https://www.educrew.io/">educrew.io</a></h3>
            <p>After providing more than 60 hours of tutoring, I understood how to address students' needs more acccurately. This time I needed something different, a new perspective. After the 2 weeks of programming we managed to create a video-streaming tutoring platform. You can see me present the 'new' EduCrew at Google Campus <a href="https://www.lewagon.com/demoday/93/educrew">here</a>. I seem a bit nervous, but not even that much. It was a great challenge and people loved the product!

            More progress is being made in this aspect so don't hesitate to ask me about it. I'm always looking for new talent!</p>
          </div>
          <div class="technologies">
            <p>Built with:</p>
            <div class="flex icons">
              <a href="">
                <img src="https://d301sr5gafysq2.cloudfront.net/e17447e6d7b5/img/repo-avatars/ruby.svg" alt="">
              </a>
              <a href="">
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png" alt="">
              </a>
            </div>
            <div class="flex icons">
              <a href="">
                <img src="https://thenewboston.com/images/forum/logos/145efe2aab7ca9959397d6344180b658.png" alt="">
              </a>
              <a href="">
                <img src="http://www.newthinktank.com/wp-content/uploads/2015/04/CSS3-Tutorial.png" alt="">
              </a>
            </div>
            <div class="flex icons">
              <a href="">
                <img src="https://ucarecdn.com/cc6abaa3-acab-4ce7-a0fd-a0ef563ef08c/" alt="">
              </a>
              <a href="">
                <img src="https://res.cloudinary.com/demo/image/upload/e_shadow,x_13,y_13/cloudinary_icon.png" alt="">
              </a>
            </div>
            <div class="flex icons">
              <a href="">
                <img src="https://cdn.worldvectorlogo.com/logos/twilio.svg" alt="">
              </a>
              <a href="">
                <img src="http://www.mericar.com/chat_logo.png" alt="">
              </a>
            </div>
            <div class="flex icons">
              <a href="">
                <img src="https://morpht.com/sites/morpht/files/bootstrap_solid.png" alt="">
              </a>
              <a href="">
                <img src="https://res.cloudinary.com/demo/image/upload/e_shadow,x_13,y_13/cloudinary_icon.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="project--area">
        <div class="carousel-area">
          <div id="my-carousel" class="carousel slide" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
              <div class="item active">
                <%= cl_image_tag("19225110_457104144666981_4093928429075023369_n_wjikqs", :height=>1151, :width=>2048, :crop=>"scale") %>
              </div>
              <div class="item">
                <%= cl_image_tag("17239667_404310009946395_8341146127270390675_o_fzbiam", :height=>1151, :width=>2048, :crop=>"scale") %>
              </div>
              <div class="item">
                <%= cl_image_tag("13653374_267366023640795_220969623827173390_o_xjljjm", :height=>1151, :width=>2048, :crop=>"scale") %>
              </div>
              <div class="item">
                <%= cl_image_tag("14907197_331091590601571_69215863704022531_n_xki9pt", :height=>1151, :width=>2048, :crop=>"scale") %>
              </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control left" href="#my-carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="carousel-control right" href="#my-carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
        <div class="description-area">
          <div class="text-area">
            <h3><a href="https://artixvy-meredaul.herokuapp.com/">Club 31</a></h3>
            <p>As soon as I finished Le Wagon’s programme, I was offered to work remotely as a business developer for Club 31, one of Madrid´s culinary landmarks since 1959. My objective at Club 31 is to provide a new stream of younger customers and increment the restaurant’s presence in the business sector.

            In September, I started executing a successful online marketing campaign through Google AdWords to persuade the younger public. Today more than 30% of non-business bookings are made through the restaurant´s website or Facebook page.

            In terms of the restaurant´s business presence, I helped prepared successful meetings with the AMEX department of Barcelona, El Corte Ingles S.L, The Congress of deputies and the Spanish National Bank. These are all now frequent clients of Club 31.</p>
          </div>
          <div class="technologies">
            <p>Built with:</p>
            <div class="flex icons">
              <a href="">
                <img src="https://d301sr5gafysq2.cloudfront.net/e17447e6d7b5/img/repo-avatars/ruby.svg" alt="">
              </a>
              <a href="">
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png" alt="">
              </a>
            </div>
            <div class="flex icons">
              <a href="">
                <img src="https://thenewboston.com/images/forum/logos/145efe2aab7ca9959397d6344180b658.png" alt="">
              </a>
              <a href="">
                <img src="http://www.newthinktank.com/wp-content/uploads/2015/04/CSS3-Tutorial.png" alt="">
              </a>
            </div>
            <div class="flex icons">
              <a href="">
                <img src="https://ucarecdn.com/cc6abaa3-acab-4ce7-a0fd-a0ef563ef08c/" alt="">
              </a>
              <a href="">
                <img src="https://res.cloudinary.com/demo/image/upload/e_shadow,x_13,y_13/cloudinary_icon.png" alt="">
              </a>
            </div>
            <div class="flex icons">
              <a href="">
                <img src="https://cdn.worldvectorlogo.com/logos/twilio.svg" alt="">
              </a>
              <a href="">
                <img src="http://www.mericar.com/chat_logo.png" alt="">
              </a>
            </div>
            <div class="flex icons">
              <a href="">
                <img src="https://morpht.com/sites/morpht/files/bootstrap_solid.png" alt="">
              </a>
              <a href="">
                <img src="https://res.cloudinary.com/demo/image/upload/e_shadow,x_13,y_13/cloudinary_icon.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

































































